@font-face {
    font-family: 'Raleway';
    src: url("assets/fonts/Raleway-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url("assets/fonts/Raleway-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }

.main-img {
    width: 240px;
    height: 240px;
    display: block;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 50%;
}

.header {
    background-color: #94af8a;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 20px;
    
}

.nav-link {
    padding: 0 20px;
    transition: .3s;
    color: white;
    transition: .3s;
}

.contacts-list {
    list-style: none;
    text-align: left;
    padding: 0px;
}

.contacts-list li img,
.footer img {
    margin: 5px 10px 5px 0;

    vertical-align: middle;
}

.contacts-list li p {
    display: inline;
}

.contacts-list a {
    color: white;
}

.column-left {
    width: 25% auto;
    padding: 0px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #bad0b2;
    color: white;
}

.column-right {
    width: 75% auto;
    padding: 0px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
}

h1 {
    font-size: 38px;
    align-items: center;
}

hr {
    border: 0;
    background-color: #ecede5;
    height: 3px;
    
}

code {
    font-size: 16px;
}

.js-keyword {
    color: #5353a3;
}

.js-function {
    color: #d2d25d;
}

.js-result {
    color: #7eb5d5;
}

#projects {
    width: 100%;
}

#projects a img {
    height: 145px;
    width: 229px;
    margin-top: 5px;
    border: 0px;
    border-radius: 5px;
}

#projects a img {
    text-decoration: none;
    transition: .5s;
}

#projects a img:hover {
    box-shadow: 5px 5px 15px #d7ddd3;
}

.date {
    width: 100px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    background-color: #94af8a;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    text-align: center;
}

.exp-list {
    width: 85%;
    padding: 0px 10px;
}

.exp {
    display: flex;
    align-items: flex-start;
}

.org-name {
    font-weight: bold;
}

pre {
    background-color: #ecede5;
}

#education {
    margin: 0px 0px 20px 0px;
}

.footer {
    display: flex;
    background-color: #94af8a;
    color: white;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-between;
}

.footer div a {
    display: flex;
    align-items: center;
    color: white;
}

.footer div a:hover {
    color: red;
}

body {
    font-family: 'Raleway';
    color: #3a3843;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 20px #e6ebe3;
}

@media (max-width: 768px) {
    .main {
      flex-direction: column;
    }

    .column {
        width: 100%;
    }

    h1 {
        text-align: center;
    }
}    

@media (min-width: 768px) {
    .d-lg-none {
        display: none;
    }

    .projects-block {
        display: flex;
        flex-direction: row;
    }

    #code {
        margin-right: 30px;
    }
    
}

@media (max-width: 768px) {
    .d-none {
        display: none;
    }
}

a {
    text-decoration: none;
}

a:hover {
    color: #465f46;
}